
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>RSSFeed Poster</title>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
		<p>Input the RSS feed to get bbcode</p>
		<form method="post" action="feed_get">
			{% csrf_token %}
			<label>RSS URL:</label> <input type="text" name="url_name" />  url addres "http://XXX"<br>
			<input type="submit" name="submit" value="Submit" />
		</form>						
		<br>
		test data :
		<ul>
			<li>
				URL="http://www.mesotw.com/bbs/rss.php?fid=25&auth=XC%2BJZQY%2FS4nZo8sf%2F2iTWyoL%2FMb7Hk5bzA"
			</li>
		</ul>
		<ul>
			<li>
				URL="http://rss.weatherzone.com.au/?u=12994-1285&lt=aploc&lc=9388&obs=1&fc=1&warn=1"
			</li>
		</ul>
</body>

</html>